.dvi{
    height: 700px;
    width: 1140px;
    
  }
  .bag{
    background-image: url("https://cdn.pixabay.com/photo/2016/07/14/09/04/texture-1516370_960_720.jpg");
    /* filter: blur(8px); */
  }
  .tbag{
    border: 3px solid black;
    border-radius: 10px;
    filter: blur(0px) !important ;
  }
  .g{
    /* text-align: center; */
    /* align-items: center; */
    padding-left: 450px;
  }
  .lea{
    color: white;
    text-align: center;
  }
  div span i{
    font-size: 35px;
  }
  .le1{
      color: white;
  } 
  .tac{
    display: flex;
    justify-content: center;
    align-items: center;
  }