.wallpaper{
    background-color: #eaeaf1;
    padding-top: 20px;
    padding: 40px;
    
}
.main a{
    color: black;
    text-decoration: none;
    
    }


.d-flex a{
    color: black;
}


.flats{
    /* text-decoration: none; */
    width:65%;
    padding-left: 12px;
    border-bottom: 1px solid rgb(234, 232, 232);
    font-size: 14px;
   /* text-decoration: none; */
}
.flats :hover{
    text-decoration-line:underline;
    cursor: pointer;
}

.custom-card{
    padding-left: 40px;   
}
.button{
    text-align: end;
    background-color: #ffa500;
}

.card-titles {
    border-right: 1px solid #ebe3e3;
    padding-right: 70px;
}
 .review-image{
    position: relative;
} 

.heart-icon{
    position: absolute;
    top: 12px;
    left: 30%;
    font-size: 23px;
    z-index: 1;
    color: whitesmoke;
} 
    
